.error {
	color: red;
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background: url("pics/background.png");
  background-size: cover; /* Cover the entire viewport */
}

.main {
	margin-top: 10px;
	text-align: center;
}

.background{
	top: 800px;
    width: 610px;
    height: 495px;
    position: absolute;
    left: 50%;
    top: 65%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

form{
    height: 520px;
    width: 300px;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.4);
    padding: 50px 35px;
	text-align: left;
}
form *{
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

::placeholder{
    color: #9e9c9c;
}

